.player{
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.wrapper{
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 20px;
  height: 600px;
  width: 450px;
  background-color: rgba(255,255,255,0.06);
  box-shadow: 0 0 50px rgb(65, 2, 75);
  margin-right: 100px;
}

.details {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.track-art {
  margin: 25px;
  margin-top: 10px;
height: 110px;
width: 110px;
border:2px solid 	#FFFAFA;
background-size: cover;
background-position: center;
border-radius: 50%;
-moz-box-shadow: 0px 6px 5px black;
-webkit-box-shadow: 0px 6px 5px black;
box-shadow: 0px 6px 5px black;
-moz-border-radius:190px;
-webkit-border-radius:190px;
border-radius:190px;
}

.now-playing {
font-size: 1rem;
}

.track-name {
font-size: 40px;
}

.track-artist {
margin-top: 10px;
font-size: 20px;
}

.buttons {
display: flex;
justify-content: center;
align-items: center;
width: 420px;
padding: 0;
margin: 0;
}
.active{
    color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
padding: 20px;
opacity: 0.8;
transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
opacity: 1.0;
}

.slider_container {
display: flex;
justify-content: center;
align-items: center;
}

.seek_slider, .volume_slider {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
height: 3px;
background: #83A9FF;
-webkit-transition: .2s;
transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: white;
border: 3px solid #3774FF;
cursor: grab;
border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
opacity: 1.0;
}

.seek_slider {
width: 60%;
}

.volume_slider {
width: 30%;
}

.current-time,
.total-duration {
padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
cursor: pointer;
}
.randomActive{
    color: black;
}
.rotate {
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.loader {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke{
    background: #f1f1f1;
    height: 100%;
    width: 7px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}
  @keyframes animate {
    50% {
      height: 20%;
      background: #4286f4;
    }

    100% {
      background: #4286f4;
      height: 100%;
    }
  }
  .stroke:nth-child(1){
      animation-delay: 0s;
  }
  .stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}

.main5 {
    display: none;
}
