@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
 outline: none;
 box-sizing: border-box;
}

:root {
 --theme-bg-color: rgba(57, 147, 195, 0.4);
 --border-color: rgba(113 119 144 / 25%);
 --theme-color: #f9fafb;
 --inactive-color: rgb(113 119 144 / 78%);
 --body-font: "Poppins", sans-serif;
 --hover-menu-bg: rgba(12 15 25 / 30%);
 --content-title-color: #999ba5;
 --content-bg: rgb(146 151 179 / 13%);
 --button-inactive: rgb(249 250 251 / 55%);
 --dropdown-bg: #21242d;
 --dropdown-hover: rgb(42 46 60);
 --popup-bg: rgb(22 25 37);
 --search-bg:  #14162b;
 --overlay-bg: rgba(36, 39, 59, 0.3);
 --scrollbar-bg: rgb(1 2 3 / 40%);
}

body {
  background: url(/resources/image/bg.jpg) no-repeat center center fixed;
  background-size: 100%;
  background-position: 0%;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
   display: flex;
  justify-content: center; 
  flex-direction: column;
}

.main1, .main2, .main3, .main4, .main5 {
  height: 90vh;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  padding: 8px;
  z-index: 3;
  background: rgba(182, 21, 235, 0.1);
  box-shadow: 0 8px 32px 0 rgb(3, 9, 91);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  background-color: var(--theme-bg-color);
  overflow: auto;
  border-radius: 14px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 15px;
  font-weight: 500;
  left: 32%;
 }

 .change1, .change2, .change3, .change6 {
    display: inline-block;
    position: fixed;
    top: 80px;
    left: 0;
    background: radial-gradient(#1fe4f5, #3fbafe);
    box-shadow: 0 8px 32px 0 rgba(3, 9, 91, 0.988);
    -webkit-backdrop-filter: blur( 4px );
            backdrop-filter: blur( 4px );
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 15px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 80px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    text-shadow:  5px 3px 10px rgba(2, 5, 53, 0.988);
    text-decoration: none;
  }
  
  .change:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .change:active{
    box-shadow: 0 2px 30px #bfe6e6;
    transition: all 0.2s ease;
  }
  
  .name {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 5px;
    margin-left:30px;
    margin-top: 83px;
    border: 3px solid rgb(2, 18, 53);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(2, 4, 57);
    border-right: 20px solid black;
    padding-right: 20px;
  }
  
  .name:hover{
    transform: rotate3d(1,0,0,360deg);
    transition: all 0.8s ease;
  }
  
  .change1 {
    top: 20px;
  }
  .change2 {
    top: 110px;
  }
  
  .change3 {
    top: 200px;
  }
  
  .change6 {
    top: 290px
  }
  
  .buy {
    position: fixed;
    width: 300px;
    height: 80px;
    margin: 20px;
    background: radial-gradient(#1fe4f5, #3fbafe);
    display: inline-block;
    top: 620px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  }
  
  .suppoprt-me img {
    height: 160px;
    width: 300px;
    display: flex;
    justify-content: center;
    position: fixed;
    opacity: 1;
    margin-top: 0px;
    top: 604px;
  }

  .card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 250px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: visible;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100px;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
    position: fixed;
    display: inline-block;
    top: 385px;
    left: 0;
  }
  
  .card__link{
    height: 20px;
    width: 100px;
    background: linear-gradient(45deg, blue,red);
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }
  
  .card__link:hover{
    background: linear-gradient(45deg, red, blue);
    box-shadow: 0 2px 10px black;
    transition: all 0.5s ease;
  }
  
  #change5 {
    cursor: pointer;
  }